
:root {
  --accent-color: #ef4995;
  --background-primary: #fff;
  --border-radius: 5px;
  --text-light: #fff;
  --text-light-secondary: #5a5a5a;
  --text-dark: #000;
  --font-size-button: 14px: 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1200px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

/* Default button styles */
.button-default {
  border-radius: var(--border-radius);
  border: 1px solid var(--accent-color);
  cursor: pointer;
  transition: 0.2s all;
  padding: 10px 15px;
  text-transform: capitalize;
  font-size: 14px;
  background-color: var(--accent-color);
  color: var(--text-light);
}

.button-default:hover {
  background-color: var(--background-primary);
  color: var(--text-dark);
}

p {
  color: var(--text-light-secondary);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container .logo-image {
  max-width: 30px;
}

.logo-container .logo-image img {
  width: 100%;
}

.logo-container .logo-text {
  font-size: 30px;
  font-weight: 600;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.links-container li {
  list-style: none;
}

.links-container a {
  text-decoration: none;
  color: var(--text-dark);
}

.links-container a:hover {
  color: var(--accent-color);
}

.login-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.login-container .sign-up {
  background-color: var(--background-primary);
  color: var(--text-dark);
}

.login-container .sign-up:hover {
  background-color: var(--accent-color);
  color: var(--text-light);
}

/* section one */
.section-one {
  background-color: #d9afd9;
  background-image: linear-gradient(45deg, #e5f1fe 0%, #eec9da 100%);
  border-radius: 12px;
  padding: 0 70px;
  position: relative;
}

.section-one-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 550px;
  gap: 95px;
}

.section-one-content {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

.section-one-content .title {
  font-size: 32px;
}

.section-one-content .title span {
  color: var(--accent-color);
}

.section-one-content .description {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--text-light-secondary);
  line-height: 30px;
}

.section-one-image {
  width: 425px;
}

.section-one-image img {
  width: 100%;
}

.boy {
  width: 125px;
  position: absolute;
  bottom: -67px;
  right: 88px;
}

.boy img {
  width: 100%;
}

.flower {
  width: 120px;
  position: absolute;
  bottom: -65px;
  right: 200px;
}

.flower img {
  width: 100%;
}

.section-two-features {
  display: flex;
    justify-content: center;
    color: var(--accent-color);
    text-transform: uppercase;
    margin-top: 283px;
    margin-bottom: 20px;
    font-weight: 500;
}

.section-two-title {
  text-align: center;
  max-width: 400px;
  margin: 0 auto 40px;
  
}

.section-two-content {
  display: grid;
  /* investigate why we dont need grid row here  */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.section-two-cards {
  display: flex;
  gap: 10px;
}


.section-two-image {
  max-width: 55px;
}


.section-two-image img {
  width: 100%;
}


.section-two-text {
  max-width: 320px;
  line-height: 25px;
}


.section-two h3 {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.section-three-content {
  display: flex;
    margin-top: 45px;
}

.section-three-text {
  margin-top: 130px;
}

.section-three-text span {
  color: var(--accent-color);
  font-weight: 500;
  text-transform: uppercase;
}

.section-three-text h2 {
  display: block;
    line-height: 33px;
    margin: 10px 0px;
}

.section-three-text p {
  margin-bottom: 15px;
    line-height: 26px;
}

.cards-container {
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 70px;
}

.section-three-cards {
  max-width: 370px;
  display: flex;
  gap: 10px;
}

.cards-image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #E2E2F3;
}

.cards-image img {
  width: 100%;
}

/* sections 3 and 4 look very similar kinda repeating styles*/

.section-four-content {
  display: flex;
}

.section-four-text {
  margin-top: 70px;
}

.section-four-text span {
  color: var(--accent-color);
    text-transform: uppercase;
    font-weight: 500;
} 

.section-four-text h2 {
  display: block;
    line-height: 33px;
    margin: 10px 0px;
}

.section-four-text p {
  margin-bottom: 15px;
  line-height: 26px;
}

.section-four-cards-container {
  display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 36px;
}

.section-four-cards-content {
  max-width: 340px;
  display: flex;
}

.section-four-cards-image {
  width: 60px;
    margin-top: -7px;
}

.section-four-cards-image img {
  width: 100%;
}

.section-four-cards-text {
  line-height: 25px;
}

.background-container {
  background-color: #F5F5F5;
}

.section-five {
  background-color: #F5F5F5;
}

.section-five-border-container {
  height: 500px;
    width: 100%;
    border: 2px dashed blue;
}

.section-five-gradient-container {
  height: 360px;
  background-image: linear-gradient(45deg, #e5f1fe 0%, #eec9da 100%);
  border-radius: 15px;
}

.section-five-cards1 {
  display: flex;
  justify-content: space-around;
  padding: 60px;
}

.section-five-cards1 span {
  display: block;
   margin-bottom: 10px;
  font-size: 36px;
    font-weight: 500;
}

.section-five-cards1-image {
  width: 50px;
}

.section-five-cards1-image img {
  width: 100%;
}

.section-five-cards2 {
  display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: -120px;
}

.section-five-cards2-content {
  max-width: 250px;
    height: 250px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.section-five-cards2-content p {
  line-height: 30px;
}

.section-five-cards2-content h4 {
  margin-top: 10px;
}

.section-five-office-span {
  display: flex;
  justify-content: center;
  color: var(--accent-color);
  text-transform: uppercase;
  margin-top: 140px;
  margin-bottom: 20px;
  font-weight: 500;
}

.section-five-office h2 {
  text-align: center;
    max-width: 450px;
    margin: 0 auto 40px;
}

.section-five-office-image-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.section-five-office-image {
  width: 300px;
}

.section-five-office-image img {
  width: 100%;
}

.section-five-office-text-container {
  display: flex;
  justify-content: space-evenly;
}

.section-five-office-text h4 {
  margin: 10px 0;
}

.section-six {
  margin-top: 200px;
}

.section-six-content {
  display: flex;
}

.section-six-image {
  width: 550px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 20px;
}

.section-six-text {
  margin-top: 90px;
}

.section-six-text span {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--accent-color);
}

.section-six-text h2 {
  display: block;
    line-height: 33px;
    margin: 10px 0px;
}

.section-six-text p {
  max-width: 600px;
    margin-bottom: 15px;
    line-height: 26px;
}

.section-six-cards-container {
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 70px;
}

.section-six-cards {
  max-width: 300px;
  display: flex;
  gap: 10px;
}

.cards-image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #E2E2F3;
}
/* check latter if it works*/
.cards-text {
  margin-bottom: 15px;
    line-height: 26px;
}

.section-six-cards2{
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.section-six-cards2-content {
  display: flex;
  gap: 10px;
  max-width: 350px;
  justify-content: space-around;
}
/* check why the image does not work */
.image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #E2E2F3;
}

.section-seven {
  background-color: #F5F5F5;
  margin-top: 100px;
}

.section-seven-content {
  display: flex;
  gap: 100px;
}

.section-seven-image {
  width: 600px;
}

.section-seven-image img {
  width: 100%;
}

.section-seven-text {
  margin-top: 80px;
}

.section-seven-text span {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--accent-color);
}

.section-seven h2 {
  display: block;
  line-height: 33px;
  margin: 10px 0px 30px;
}

.section-seven-cards-content {
  display: flex;
  gap: 15px;
  margin: 15px 0;
}

.section-seven-cards-image {
  width: 40px;
}

.section-seven-cards-image img {
  width: 100%;
}

.section-seven-cards-text h4 {
  line-height: 26px;
}

.section-seven-cards-text p {
  line-height: 26px;
}

.section-eight-container {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 1000px;
    background-image: linear-gradient(45deg, #e5f1fe 0%, #eec9da 100%);
    border-radius: 15px;
    margin: auto;
}
.section-eight-content span {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--accent-color);
  margin-left: 140px;
}

.section-eight-content h2 {
  margin-top: 25px;
    display: block;
    line-height: 33px;
}

.section-eight-content button {
  margin-left: 160px;
  border-radius: var(--border-radius);
  border: 1px solid var(--accent-color);
  cursor: pointer;
  transition: 0.2s all;
  padding: 10px 15px;
  text-transform: capitalize;
  font-size: 14px;
  background-color: var(--accent-color);
  color: var(--text-light);
  margin-top: 36px;
}

.footer-container {
  display: flex;
    justify-content: center;
    gap: 100px;
    margin: 70px 0;
}

.footer-content p {
  max-width: 90px;
}

.footer-content ul {
  list-style: none;
}

/* yet to finish the css in the footer and small details all over the page*/
